[Unit]
Description=Wallpaper changer
After=default.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/wallpaperchanger --next

Nice=10
IOSchedulingClass=idle

NoNewPrivileges=true
PrivateTmp=true
