[Unit]
Description=Wallpaper changer
After=default.target

[Service]
Type=oneshot

WorkingDirectory=__WORKDIR__

ExecStart=__PYTHON__ -m wallpaperchanger.main --next

Nice=10
IOSchedulingClass=idle

NoNewPrivileges=true
PrivateTmp=true
